on: [push]
name: Linux_Container_Workflow

jobs:
    build-and-deploy:
        runs-on: ubuntu-latest
        steps:
        # checkout the repo
        - name: 'Checkout GitHub Action'
          uses: actions/checkout@main
          
        - name: 'Login via Azure CLI'
          uses: azure/login@v1
          with:
            creds: ${{ secrets.AZURE_CREDENTIALS }}

        - name: Azure Container Apps Build and Deploy
          uses: Azure/container-apps-deploy-action@v2
          with:
            # Absolute path on the GitHub runner of the source application code to be built.
            appSourcePath: ./
            # The name of the Azure Container Registry that the runnable application image will be pushed to.
            #acrName: utkalamand
            
            # The base URL of the Container Registry that the runnable application image will be pushed to.
            registryUrl: ${{ secrets.REGISTRY_LOGIN_SERVER }}
            registryUsername: ${{ secrets.REGISTRY_USERNAME }}
            registryPassword: ${{ secrets.REGISTRY_PASSWORD }}        
            azureCredentials: ${{ secrets.AZURE_CREDENTIALS }}
            # 'The custom name of the image that is to be built, pushed to the Container Registry and deployed to the Container App by this action.
            # Note: this image name should include the registry server; e.g., <registryUrl>/<repo>:<tag>. If this argument is
            # not provided, a default image name will be constructed in the form of
            # <acr-name>.azurecr.io/github-action/container-app:<github-run-id>.<github-run-attempt>.'
        
            imageToBuild: ${{ secrets.REGISTRY_LOGIN_SERVER }}/hello-sampleapp:${{ github.sha }}
            # 'The custom name of an image that has already been pushed to the Container Registry and will be deployed to the Container App by this
            # action. Note: this image name should include the registry server; e.g., <registryUrl>/<repo>:<tag>. If this
            # argument is not provided, the value provided (or determined) for the "imageToBuild" argument will be used.'
        
            #imageToDeploy: # optional
            # 'Relative path to the Dockerfile in the provided application source that should be used to build the image that is then pushed to the Container Registry and deployed to the Container App. If not provided, this action will check if there is a file named "Dockerfile" in the provided application source and use that to build the image. Otherwise, the Oryx++ Builder will be used to create the image.'
        
            # dockerfilePath: # optional
            # 'The name of the Azure Container App that will be created or updated. If not provided, this value will be gh-action-app-<github-run-id>-<github-run-attempt>.'
        
            containerAppName: sample-hello
            
        
            resourceGroup: ${{ secrets.RESOURCE_GROUP }}
            
            # 'The platform version stack that the application runs in when deployed to the Azure Container App. This should
            # be provided in the format <platform>:<version>. If not provided, this value is determined by Oryx based on the
            # contents of the provided application. Please view the following document for more information on the supported
            # runtime stacks for Oryx:
            # https://github.com/microsoft/Oryx/blob/main/doc/supportedRuntimeVersions.md'
        
            # runtimeStack: # optional
          
        #     registry-username: ${{ secrets.REGISTRY_USERNAME }}
        #     registry-password: ${{ secrets.REGISTRY_PASSWORD }}
        #     name: aci-sampleapp
        #     location: 'west us'
